<!DOCTYPE html>
<html>
<head>
  <title>Пости</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <body>
  <div class="container mt-4">
    <h1><%= t('posts.index.title') %></h1>

    <% if user_signed_in? %>
      <%= link_to t('posts.index.add_post'), new_post_path, class: 'btn btn-primary mb-4' %>
    <% end %>

    <div class="filter mb-4">
      <%= form_with url: posts_path, method: :get, local: true, class: 'form-inline' do %>
        <div class="form-group mr-2">
          <%= select_tag :category, options_from_collection_for_select(@categories, :id, :name, params[:category]), include_blank: t('posts.index.all_categories'), class: 'form-control' %>
        </div>
        <%= submit_tag t('posts.index.filter_button'), class: 'btn btn-secondary' %>
      <% end %>
    </div>

    <div class="posts-container">
      <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
            <p class="card-text"><%= truncate(post.content, length: 100) %></p>
            <p class="card-text"><strong><%= t('posts.index.category') %>:</strong> <%= post.category.name %></p>
            <p class="card-text"><strong><%= t('posts.index.author') %>:</strong> <%= post.user.nickname %></p>
            <%= link_to t('posts.index.view'), post, class: 'btn btn-info mr-2' %>
            <% if post.user == current_user %>
              <%= link_to t('posts.index.edit'), edit_post_path(post), class: 'btn btn-warning mr-2' %>
              <%= link_to t('posts.index.delete'), post, method: :delete, data: { confirm: t('posts.index.confirm_delete') }, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>



</html>
