<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('posts.show.title_label') %>:</strong>
  <%= @post.title %>
</p>

<p>
  <strong><%= t('posts.show.content_label') %>:</strong>
  <%= @post.content %>
</p>

<p>
  <strong><%= t('posts.show.category_label') %>:</strong>
  <%= @post.category.name %>
</p>

<% if @post.user == current_user %>
  <%= link_to t('posts.show.edit'), edit_post_path(@post) %> |
  <%= link_to t('posts.show.destroy'), @post, method: :delete, data: { confirm: t('posts.show.confirm_delete') } %> |
<% end %>

<%= link_to t('posts.show.back'), posts_path %>
